body {
    text-align: center;
    padding: 0;
    background-color: darkkhaki;
    font-family: sans-serif;
    margin: 3vh;
}
.h {
    font-size: 30px;
}
#header-container {
    height: 10vh;
    margin: 3vh;
}
#container {
    width: 100vw;
    display: flex;
    text-align: left;
}

.options {
    list-style: none;
}

#container .li-container {
    padding: 20px;
    margin: 3px;
    border: solid 1px;
}

.li-container {
    display: flex;
}

.li-container .li-div {
    flex-grow: 15;
}

.li-container .button-div {
    flex-grow: 1;
}

.li-container .button-div button {
    float: right;
}


.col {
    width: 33vw;
}

#c1 {
    width: 66vw;
}

.var {
    color: crimson;
    font-weight: bold;
}